@charset "UTF-8";

/* MOBILE FIRST */

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: gray;
    margin-top: 100px;
}

#main1{
    background-color: white;
    width: 250px;
    height: 250px;
    margin: auto;

    background-image: url(../imagens/pexels-vanessa-pozos-3368660-20832929.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    border-radius: 10px 10px 0px 0px;
}

#main2{
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 280px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
}

#main2{
    text-align: center;
}

#section1 , #section2{
    padding: 2px;
}

input{
    border: 0px solid black;
    width: 195px;
    height: 38px;
}

div{
    background-color: rgba(48, 25, 25, 0.159);
    margin: 2px;
    border: 1px solid black;
}

.botao{
    background-color: gray;
    border: 1px solid black;
    margin: 2px;
}

span{
    color: black;
    background-color: rgb(109, 109, 109);
    height: 39px;
    width: 40px;
}

